:root {
    --max-width:1200px;
    --horizontal-padding:21px;
    --vertical-padding:12px;
    --primary: #c73030;
    --secondary: #ba2828;
    --font-sans: 'Source Sans Pro',sans-serif;
    --font-monserrat: 'Montserrat',sans-serif;
    --transitions: .3s;
}

*, a{
    color:black;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-sans);
}
main {
    max-width: var(--max-width);
    margin:auto;
}
.nav-body {
    display:flex;
    margin-top:var(--vertical-padding);
    margin-bottom:var(--vertical-padding);
}
.nav-body span, .nav-body i {
    color:lightgray;
}
span i {
    margin-right: .5em;
}

i {
    font-size: 1rem !important;
}

.gallery {
    display: grid;
    gap:14px;
    grid-template-columns: repeat(4, minmax(80px, 1fr));
    grid-auto-rows: 162px;
}

.hidden {
    z-index: 10;
    opacity: 0;
    color:black;
    font-weight: 400 !important;
    transition: var(--transitions);
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}



.gallery a div {
    padding:0 var(--horizontal-padding);
    position:relative;
    bottom: 3.75em;
    color:white;
    height: auto;
    width: auto;
    font-family: var(--font-monserrat);
    font-weight: 600;
    text-shadow: 0 1px 16px rgb(0 0 0 / 80%);
}

.gallery a {
    
    overflow: hidden;
}

.img-zoom {
    transition: var(--transitions);
}

.gallery > a:hover > .img-zoom {
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
.gallery > a:hover > .hidden {
    opacity: .8;
    bottom:6em;
}

.gallery > a:hover > .txt-small {
    bottom:6em;
}

.gallery a img {
    object-fit: cover;
    width:100%;
    height:100%;
    filter: brightness(.75);
}
#img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#img2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
#img3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.text-img {
    position:relative;
    font-size: 26px;
}

.txt-small {
    font-size: 18px !important;
    transition:var(--transitions);
}